:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.board-img{
  background-image: url("https://fondosmil.com/fondo/27529.jpg");
  background-size: cover;
}

.container {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    gap: 2ren;
    margin: 0 auto;
    align-items: center;
}

